
<section class="relative px-4 py-6">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-3 gap-3 text-white">
            <div>
                <h3>Diego Sanchez</h3>
                <p>
                    Apasionado por crear experiencias web modernas y funcionales...
                    Especializado en desarrollo Frontend y Backend...
                </p>
            </div>
            <div>
                <h3>Enlaces Rapidos</h3>
                <ul>
                    <li>
                        <a href="">Inicio</a>
                    </li>
                    <li>
                        <a href="">Sobre mí</a>
                    </li>
                    <li>
                        <a href="">habilidades</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Contactos</h3>
                <ul>
                    <li>
                        diegoarc1522@gmail.com
                    </li>
                    <li>
                        935854863
                    </li>
                    <li>
                        Puno
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex gap-2 items-center text-gray-400 text-sm mt-6 justify-between">
            <p>
                © 2025 <span> Diego Sanchez </span>... Todo los Derechos Reservados...
            </p>
            <div>
                Hecho Con 🎶🎶🎶 Usando Tailwind y Astro...
            </div>
        </div> 
    </div>
   
</section>