<section>
    Esto es la parte principal   
    
    Diego Sanchez
</section>

<style>
    /* codigo CSS */
    .rojo{
        color: red;
    }

    .verde{
        color: green;
        font-size: xx-large;
    }
</style>