---

//codigo TS

---



<section>
    <!--codigo HTML-->
    <p class="verde">Hola Mundo soy: <strong>Diego Sanchez</strong></p> <!--strong o b (para poner en negrita) -->
</section>



<style>
    /* codigo CSS */
    .rojo{
        color: red;
    }

    .verde{
        color: green;
        font-size: xx-large;
    }
</style>
