---

//codigo TS

---


<br>
<section>
    <!--codigo HTML-->
    <p>Este es un parrafo de prueba de: <strong class="rojo">Diego Sanchez</strong></p> <!--strong o b (para poner en negrita) -->
</section>



<style>
    /* codigo CSS */
    .rojo{
        color: red;
    }
</style>